@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{
    width: 0px;
  } 
  :root {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #454241;
  }
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  